<div class="header-burger">
  <div class="header-burger-wrapper">
    <button class="header-close-burger" id="close-header-burger" >
      <span></span>
    </button>
    <nav class="header-burger-nav">
      <ul class="header-burger-list">
        <li class="header-burger-item">
          <a  class="header-burger-link" href="./index.html">Home</a>
        </li>
        <li class="header-burger-item">
          <a  class="header-burger-link" href="#">Shop</a>
        </li>
        <li class="header-burger-item">
          <a  class="header-burger-link" href="#">Plant Care</a>
        </li>
        <li class="header-burger-item">
          <a class="header-burger-link" >Blogs</a>
        </li>
      </ul>
  </div>
</div>
