<div class="filter">
  <div class="filter-wrapper">
    <h3 class="filter-title">Categories</h3>
    <ul class="filter-list">
      <li class="filter-item">
        <button class="filter-item-button">
          House Plants<span>(33)</span>
        </button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">
          Potter Plants<span>(33)</span>
        </button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Seeds<span>(33)</span></button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">
          Small Plants<span>(33)</span>
        </button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Big Plants<span>(33)</span></button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Succulents<span>(33)</span></button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Trerrariums<span>(33)</span></button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Gardening<span>(33)</span></button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Accessories<span>(33)</span></button>
      </li>
    </ul>
    <h3 class="filter-title filter-range-title">Price Range</h3>
    <div class="filter-range">
      <div class="filter-range-container">
        <div class="filter-track"></div>
        <input
          type="range"
          min="0"
          max="100"
          value="20"
          step="1"
          class="filter-input-range filter-min-slider"
          id="minRange"
        />
        <input
          type="range"
          min="0"
          max="100"
          value="80"
          step="1"
          class="filter-input-range filter-max-slider"
          id="maxRange"
        />
      </div>
      <p class="filter-prise">
        Price:
        <span>
          $<span class="js-prise-min">10</span> - $<span class="js-prise-max"
            >20</span
          ></span
        >
      </p>
      <button class="filter-button">Filter</button>
    </div>
    <h3 class="filter-title">Categories</h3>
    <ul class="filter-list">
      <li class="filter-item">
        <button class="filter-item-button">Small<span>(119)</span></button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Medium<span>(33)</span></button>
      </li>
      <li class="filter-item">
        <button class="filter-item-button">Large<span>(33)</span></button>
      </li>
    </ul>
  </div>
  <div class="filter-sale">
    <img
      class="filter-sale-title"
      srcset="
        ./img/filter/super-sale@1x-min.png 1x,
        ./img/filter/super-sale@2x-min.png 2x
      "
      src="./img/filter/super-sale@2x-min.png"
      alt=""
    />
    <h3 class="filter-sale-off">up to 75% off</h3>
    <img
      class="filter-picter"
      srcset="
        ./img/filter/image 12 (1).png 1x,
        ./img/filter/image 12 (1).png 2x
      "
      src="./img/filter/image 12 (1).png"
      alt="plant"
    />
  </div>
</div>
