.filter {
  max-width: 310px;
}
.filter-wrapper {
  padding: 14px 18px;
  background-color: #fbfbfb;
}
.filter-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.89;
  margin-bottom: 7px;
}
.filter-list {
  width: 100%;
  padding-left: 13px;
}
.filter-item {
  width: 100%;
}
.filter-item input[type='radio'] {
  display: none;
}
.filter-item input[type='radio']:checked + .filter-item-button {
  color: var(--green-color);
  font-weight: 700;
}
.filter-item-button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  background-color: transparent;
  transition: font-weight 0.3s ease, color 0.3s ease;
}
.filter-item-button:hover {
  color: var(--green-color);
  font-weight: 700;
}
.filter-range-title {
  margin-top: 36px;
}
.filter-range {
  padding: 20px 12px 0;
  margin-bottom: 46px;
}
.custom-range {
}
.filter-prise {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.07;
  margin-bottom: 16px;
}
.filter-prise > span {
  color: var(--green-color);
  font-weight: 700;
}
.filter-button {
  width: 90px;
  height: 35px;
  border-radius: 6px;
  background-color: var(--green-color);
  transition: opacity 0.3s ease;
  color: #fff;
  font-weight: 700;
  line-height: 1.25;
}
.filter-button:hover {
  opacity: 0.8;
}

.filter-sale {
  background: linear-gradient(
    180deg,
    rgba(70, 163, 88, 0.1) 0%,
    rgba(70, 163, 88, 0.03) 100%
  );
}
.filter-sale-title {
  margin-bottom: 11px;
}
.filter-sale-off {
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 0.69;
  text-transform: uppercase;
}
.filter-picter {
}

/* RANGE */

.filter-range-container {
  width: 100%;
  height: 4px;
  position: relative;
  margin-bottom: 21px;
  background-color: rgba(70, 163, 88, 0.2);
  border-radius: 2px;
}
.filter-track {
  border-radius: 2px;
  position: absolute;
  height: 4px;
  background-color: var(--green-color);
  right: 0;
  left: 0;
}
.filter-input-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.filter-input-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}
.filter-input-range::-moz-range-track {
  -webkit-appearance: none;
  height: 4px;
}
.filter-input-range::-ms-track {
  appearance: none;
  height: 4px;
}
.filter-input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border: solid 2px #fff;
  background-color: var(--green-color);
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -5.5px;
}
.filter-input-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border: solid 2px #fff;
  background-color: var(--green-color);
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -5.5px;
}
.filter-input-range::-ms-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border: solid 2px #fff;
  background-color: var(--green-color);
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -5.5px;
}
.filter-min-slider {
}
.filter-max-slider {
}

/* ----- */
.range-slider {
  position: relative;
  width: 80%;
  margin: 50px auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  z-index: 1;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.range-value {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  color: #4caf50;
  font-weight: bold;
  position: absolute;
  transform: translateX(-50%);
}

#maxValue {
  right: 0;
}
